body{
  background-color: #eeeff2;
}
/* 我的日程 */
.myWork{
  /* background-color: #ccc; */
  background-color: #fff;
  padding:10px;

  /* padding:0 10px; */
  width:260px;
}
/* 我的日程标题 */
.workTitle{
  padding-top: 25px;
  padding-left:20px;
  /* height: 46px;
  line-height: 46px; */
  font-family:"微软雅黑";
  font-weight: 600;
  font-size: 16px;
}
/* 圆圈设置 */
.myCircle{
  font-size: 0;
  display: inline-block;
  width:15px;
  height: 15px;
  background-color: #fff;
  border-radius: 50%;
  border:4px solid #f00;
  margin-right:4px;
  /* text-align: center; */
}
/* 日期列表 */
.workDate{
  /* margin-top:10px; */
  /* 后期可以调整此处的高度 */
  height: 285px;
  /* background-color: #fff; */
}
/* 工作安排 */
.workDetail{
  padding:15px;
  background-color: #f7f8fd;
}
/* 工作安排内容的ul，li */
.workTask .taskContent{
  list-style: none;
  padding: 0;
  margin: 0;
}
/*  一行省略
  white-space:nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
 */
.taskContent .taskDetail{
/* 两行省略 */
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
/* 添加滚动事件要设置高度 */
.scrollH{
  height: 100px;
  overflow: auto;
  /* 只能是把数据隐藏的，不能滚动再查看数据的 */
  /* overflow-x: hidden; */
 
}
/* 添加小圆点的设置 */
.circle{
  height: 0;
}
.circle::after{
  content:" ";
  position: absolute;
  width:6px;
  height:6px;
  background-color: red;
  border-radius: 50%;
  margin-left:-4px;
  }
/* 设置滚动条的宽度 */
::-webkit-scrollbar{
  width:2px;
}
/*覆盖日期内的格式  */
/* 日期列表的边距 */
.wui-input{
  padding:3px;
  border:0;
}
/* 周一到周日的背景颜色修改 */
.table-condensed>thead>tr:nth-child(2){
  background-color: #f3f4f9;
  font-weight: 400;
}
/* th的数据间隔 */
.table-condensed>tbody>tr>td, .table-condensed>thead>tr>th{
  padding:7px 8px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 0px;
  /* margin-bottom:10px; */
  /* margin-right:5px; */
}

/* 日期列表去除底部设置 */
.table-condensed>tfoot>tr>th{
  width:0px;
  height: 0px;
  padding:0;
}

/* 设置td的样式，长方形改为圆形的 */
.table-condensed>tbody>tr>td{
  border-radius: 50%;
}
/* 当前日期和选中日期的颜色设置 */
.datetimepicker .active{
  background-color: #5b88ff !important;
}
.datetimepicker .active:hover{
  background-color: #eceef7 !important;
}
/* 添加事件的按钮的默认设置更改 */
.wui-btn{
  margin-bottom:8px;
}