#wrapper{
  position: relative;
  width:100%;
  height: 100%;
}
#main{
  /* width:100%; */
  height: 100%;
  margin-right: 300px;
  background: #fff;
  overflow: hidden;
}
#container{
  position: relative;
  height: 877px;
  margin-right:2px;
  margin-top:10px;
  width:100%;
  overflow: hidden;
}
#srcPic{
  position: relative;
  padding:3px 70px;
  width:100%;
  height: 736px;
  
}
.img-view{
  display: block;
  /* position: absolute; */

  width:100%;
  height: 100%;
  text-align: center;
}
.img-view>img{
  width: auto;  
    height: auto;  
    max-width: 80%;  
    max-height: 100%; 
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  
}
#img-prev,#img-next{
  position: absolute;
  /* top:50%; */
  top:42%;
  transform: translateY(-50%);
  display: inline-block;
  height: 736px;
  width:70px;
  color: #ccc;
  cursor: pointer;
  font-size:40px;
}
#img-prev{
left:0;
}
#img-next{
  right:0;
  }
  #img-prev>i,#img-next>i{
    position: absolute;
    top:45%;
    left:30%;
  }
  #img-prev>i{
    left:25%;
  }
  #img-prev:hover,#img-next:hover{
    background-color: #e6e6e6;
    color:#fff;
  }
  #img-list{
    position: absolute;
    bottom:0;
    width: 100%;
    padding:10px 30px;
    border:1px solid #eee;
    overflow: hidden;
  }
  #img-list #smallPic{
    position: relative;
  width:100%;
  /* padding:3px 30px; */
  height: 90px;
  overflow: hidden;
  }
  #img-list .smallList{
  width:700%;
  height: 100%;
  background: #fff;
  padding:0;
  margin:0;
  list-style: none;
  position: absolute;
  transition: all 1s;

  }
  .smallList .smallListItem{
    width:68px;
    height: 68px;
    line-height: 68px;
    /* padding:0; */
    cursor: pointer;
    border:1px solid #eee;
    margin:10px 10px 0 0px;
    float:left;
    text-align: center;
    position: relative;
  }
  .smallListItem .item{
    width:100%;
  height: 100%;
  overflow: hidden;
  margin-left: 0;
  margin-top: -1px;
  }
 .smallListItem img{
  width: auto;  
  height: auto;  
  max-width: 80%;  
  max-height: 100%; 
display: inline-block;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
  
  }
  #smallImg-prev,#smallImg-next{
    position: absolute;
    top: 52%;
    right:0;
    transform: translateY(-50%);
    height: 68px;
    width:30px;
    font-size: 20px;
    color:#ccc;
    z-index:99;
  }
  #smallImg-prev{
   
    left:0;
  }
  #smallImg-prev>i,#smallImg-next>i{
    position: absolute;
    top: 43%;
    left: 27%;
  }
  /* #smallImg-next>i{

  } */
  #smallImg-prev:hover, #smallImg-next:hover{
color:#fff;
background: #dfdfdf;
  }
  #sider{
    position: absolute;
    top:0;
    right:0;
    width:300px;
    height: 882px;
  }
  #sider .picInfoTitle{
    border-left:4px solid #0087e8;
    border-bottom:1px solid #eee;
    padding:10px 15px;
  }
  .picInfoTitle>h4{
    margin:0;
    padding:0;
    font-size: 24px;
    color:#000;
   
  }
  #sider .picInfoContent{
    padding:10px 20px;

  }
  .picInfoContent .contentTop{
    font-size: 20px;
    font-weight: 400;
    color:#333;
  }
  .picInfoContent .contentTop>a{
    text-decoration: none;
    color:#333;
  }
  .picInfoContent .contentTop>a:hover{
    color:#0087e8;
  }
  .picInfoContent .contentBottom{
    margin-top:6px;
  }
  .picInfoContent .contentLeft{
    display:inline-block;
    margin-right: 15px;
  }
  .picInfoContent .contentLeft>a{
    text-decoration: none;
    color:#666;
  }
  .picInfoContent .contentRight{
    display: inline;
      padding-left:15px;
      border-left:1px solid #ccc;
      color:#666;
  }
  .picInfoContent .contentLeft>a:hover, .picInfoContent .contentRight:hover{
    text-decoration: underline;
  }
  /* .active{
    border:2px solid #0087e8 !important;
    transform: scale(1.2);
    margin:0 !important;
    width: 76px !important;
    height: 76px !important;
    margin: 0 !important;
    margin-top: 5px !important;
  } */
  .active{
    border:2px solid #0087e8 !important;
    /* transform: scale(1.2); */
    padding:0;
    width: 76px !important;
    height: 76px !important;
    margin-top: 5px !important;
    margin-right: 10px;
  }